# Do not use
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
.vscode/
*.csproj.user

# NuGet
*.nupkg
*.snupkg
packages/
!**/packages/build/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
TestResults/
coverage/
*.coverage
*.coveragexml

# Logs
logs/
*.log

# Database
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
!Dockerfile

# Rider
.idea/
*.sln.iml
